<?xml version="1.0"?>

<model>
  <name>Spiri Mu</name>
  <version>2.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Ben Hatfield</name>
  </author>
  <description>
    LiftDragPlugin
    ArduCopterPlugin
    gimbal_small_2d
  </description>
  <depend>
    <model>
      <uri>model://spiri_gimbal</uri>
      <version>2.0</version>
    </model>
    <model>
      <uri>model://spiri_mu_base</uri>
      <version>2.0</version>
    </model>
  </depend>
</model>
