<?xml version="1.0" ?>
<model>
  <name>Yarmouth Airport.</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Sidney</name>
    <email>Sidney.Wood@spirirobotics.com</email>
  </author>
  <description>
    Yarmouth Airport for Gazebo simulation.
  </description>
</model>
